.sidebar ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  appearance: none;
  background-color: transparent;
  visibility: hidden;
}

.sidebar ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(224, 229, 242);
  visibility: hidden;
}

/* .sidebar ::-webkit-scrollbar-track {
  margin-top: 120px;
} */

.sidebar:hover ::-webkit-scrollbar,
.sidebar:focus ::-webkit-scrollbar,
.sidebar:hover ::-webkit-scrollbar-thumb,
.sidebar:focus ::-webkit-scrollbar-thumb {
  visibility: visible;
}
